@{       ViewData["Title"] = "ForUs Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
          <style>
              main{
                  border-width:3px;
                  border-color:darkgreen;
                  border-style:solid;

              }
              </style>
</head>
</html>
<div class="text-center">
    <h3 class="display-4"><b>For Us</b></h3>
    <p style="text-align:center;">
        <h3>Ние сме туроператор и професионален организатор на събития, менажираме хотели, разположени в едни от най-реномираните курорти на България. Имаме утвърдени вътрешни стандарти и правила на работа, гарантиращи висок професионализъм и предлагане на качествен и устойчив туристически продукт</h3>
    </p>

    <img src="https://grandhotelpomorie.com/wp-content/uploads/2021/07/Home-Page1_1-scaled.jpg"
         alt="Hotel pic" width="625" height="500"

</div>
