@{       ViewData["Title"] = "ForUs Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
          <style>
              main{
                  border-width:3px;
                  border-color:darkgreen;
                  border-style:solid;
              }
              </style>
</head>
</html>
<div class="text-center">
    <h3 class="display-4">Всичко за моят сайт HotelBg,което може да ви интересува ще намерите тук.</h3>
    <p style="text-align:center;">
        HotelBg този сайт е специализиран за резервирането на хотелски стай.Сайтът ще започне да функционира и работи с клиенти на 26.04.2022.Този сайт ще предлага резервации на хотелски стаи за дните ,в които ще ви трябват.Предлагаме намаление при резервация на група,които резервират 2 или повече стай.Ще имате възможност да предплатите дадена стая или да си платите на място.
        </p>
    <img src="https://adventurestory.bg/upload/1/images/f074c2e22134f45a6d74fed845739f85.jpg"
         alt="Hotel pic" width="625" height="500"

</div>
