@model HotelsBG.Models.StatisticVM

@{ ViewData["Title"] = "Statistic"; }

<h1>Statistic</h1>

<h4>Count of all rooms: @Model.roomCount</h4>
<h4>Count of all users: @Model.countUsers</h4>
<h4>Count of all reservations: @Model.countReservations</h4>
