
@{ ViewData["Title"] = "Success"; }

<h1>You create a new room successfully!</h1>

<div>
    <a asp-action="Create">Create new room</a>
</div>

<div>
    <a asp-action="All">List all rooms</a>
</div>